/******************************************************************** 
I declare that my assignment is wholly my own work in accordance with Seneca 
Academic Policy. No part of this assignment has been copied manually or 
electronically from any other source (including web sites) except for the 
information supplied by the WEB222 instructors and / or made available in this 
assignment for my use. 
I also declare that no part of this assignment has been distributed to other 
students. 
Name: Alen Thomas
Dated: 12/10/21
********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap');
#heading 
{
    font-family: 'Rajdhani', sans-serif; 
    color: rgb(255, 81, 0);
    font-weight: bold;
    font-size:20px;
    padding-right: 30%;
    background: rgb(0, 255, 255);
}
img
{
    padding-left: 45%;
    padding-top: 10px;
    max-width: 70px;
    float: left;
}

#body
{
    max-width: 1100px;
  background: rgb(134, 252, 252);
  font-family: 'Baloo Bhaijaan 2', cursive;
}

#errors
{
     height: 200px;
     display: block;
     padding: 22px 16px;
     width: 100%;
     border: none;
     outline: none;
     font-size: 20px;
     text-align: left;
}
input[id="fname"],
input[id="lname"],
input[id="uname"],
input[id="age"],
input[id="Email"],
input[id="number"],
input[id="password1"],
input[id="password2"]
{
    width: 100%;
    height: 30px;
    border-radius: 7px;
}
#container
{
    background: rgb(0, 255, 255);
    padding-top: 2px;
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#cont_id1,#cont_id2,#cont_id3,#cont_id4,#cont_id5
{
    background-color:transparent;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius:4px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#2d00f7;
	font-size:25px;
	font-weight:bold;
	padding:6px 56px;
	text-decoration:none;
}
.column 
{
     display: inline-block;
}  
.a {     
    vertical-align: top;
    text-align: center;
    font-size:30px;
    padding: 1em;
}
.b
{   font-size: 25px;
    vertical-align: top;
    padding: 3em;
    border-right: 1px solid green;
    width:30%;
}
.c{
    font-size: larger;
    vertical-align: top;
    width:30%;
}
#errors 
{
    padding: 0px 11px;
    border: none;
    border-left: none;
    padding-top: 125px;
    height: 300px;
    font-size: 22px;;
}
#input 
{
    margin-left: 55%;
    height: 200px;
}  
#button1,#button2
{
    vertical-align: bottom;
    background-color:transparent;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border:none;
	cursor:pointer;
	color:#000000;
	font-size:40px;
	font-weight:bold;
	padding:9px ;
	text-decoration:none;
}

#foot
{
    padding-top: 10px;
    text-align: center;
    font-size:10px;
    color: #0062ff;
    background: rgb(0, 255, 255);
}
#heading,#container,#main,#foot
{
    margin:1px;
    border:2px solid rgb(31, 28, 66);
    border-radius: 8px;
}
#declare1
{
    color: #1900ff;
    font-size: 20px;
    font-weight: bold;
}